{% extends "home/index.html" %}
{% load static %}
{% block my_blog_content %}
    <div class="container position-relative px-4 px-lg-5">
        <h1>About Us</h1>
        <p>¡Bienvenido a nuestra página "My Blog Django"!</p>
        <p>Esta aplicación fue desarrollada por Matias Ricci y Brian Trias como parte de la entrega final del curso de Python.</p>
        <p>My Blog Django es un blog desarrollado en Django que permite realizar operaciones CRUD y crear perfiles de usuario.</p>
        <p>Se pueden subir imagenes, se pueden editar los post, eliminar los post. Un usuario puede solamente editar y eliminar sus propios posteos, puede comentar el post de otro usuario</p>
    </div>
{% endblock %}
